ruby/conf/tokens.txt
ruby/conf/badwords.txt
ruby/conf/goodlanguage.txt
ruby/conf/whitelist.txt
ruby/goodlist*.txt
ruby/followlist.txt
ruby/test
ruby/checked.txt
ruby/archives/*
ruby/purgelist.txt
ruby/whitelist.txt
ruby/data/*.txt
ruby/data/*.html
ruby/error.txt
